<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' type="text/css" href='./components.css' />
    <link rel='stylesheet' type="text/css" href='../everything.css' />
    <script type="text/javascript" src="../jquery-1.2.3.pack.js"></script>
    <script type="text/javascript" src="../jquery.metadata.min.js"></script>
    <script type="text/javascript" src="../jquery.maphilight.min.js"></script>
    <script src='./components.js'></script>
</head>

<body>
    <div id='top'>
        <div class=title>
            Components
        </div>
        <div class='navigation'>
            <button class='button' id='home' onclick="location.href='../index.html'">
                Home
            </button>
            <button class='button' id='calculation' onclick="location.href='../calculations/calculation.html'">
                Calculations
            </button>
            <button class='button' id='components' onclick="location.href='../components/components.html'">
                Components
            </button>
            <button class='button' id='cycle_diagram' onclick="location.href='../calculations/calculation.html'">
                Cycles
            </button>
        </div>
        <div class='img' id='components_link'>
            <img src='../CERV_front.JPG' alt='CERV2' usemap='#mapp' id='componentF' class='map'>
            <map name="mapp" id='map1'>
                <area id='compresser' shape='poly' coords='163,484,161,465,180,433,218,432,260,439,270,467,269,505,262,540,232,556,184,552,161,528'
                    href='../index.txt' class="{strokeWidth:3}">
                <area id='circuit' href="../circuit/circuit.html" coords="186,148,281,260" shape='rect' class="{strokeWidth:3}">
                <area id='LED' href="../index.txt" coords="202,68,205,90,274,93,266,72" shape="poly" class="{strokeWidth:3}">
                <area id="damper" href="../damper/damper.html" coords="162,277,245,372" shape="rect" class="{strokeWidth:3}">
            </map>
            <!-- <img src='../CERV_Top.JPG' alt='CERV2' usemap='#mapp' id='componentT' class='map'> -->
        </div>
        <div id='side'>
            <button class='button' id='home' onclick=>
                Front
            </button>
            <button class='button' id='calculation' onclick=>
                Back
            </button>
            <button class='button' id='calculation' onclick=>
                Top
            </button>
        </div>
    </div>
</body>

</html>